PORT=8080
DATABASE_URL=mongodb://localhost:27017/hostic
APPS_DOMAIN=localhost
R2_ENDPOINT=https://<account-id>.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=<key>
R2_SECRET_ACCESS_KEY=<secret>
R2_BUCKET=<bucket-name>
